body{
  background-color: #ffbe33;
  color: white;
  padding: 12px;
  font-family: arial;
  text-align: center;
}

button{
  padding: 6px;
  border: 2px white;
  background-color: #ffa600;
  border-radius: 3px;
  color: white;
  font-size: large;
  text-align: center;
}
button:hover{
  background-color: #e69e19;
}

img{
  width: 100%;
}